.form_background{
	background-image: url(./background5.jpg);
	background-size: cover;
	width: 100%;
	height: 93vh;
	overflow-y: hidden;
	opacity:0.9 ;
	overflow:hidden;
	display: block;

}
form{
	margin-left: 1%;
	margin-top: 1%;
}
fomr> div> div> label{
	font-size: 100em;
	width: 10em;
}
